<!DOCTYPE html>
<html ng-app="myApp">
    
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>HTML Day One</title>
  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="main.css">
</head>

<body ng-controller="mainCtrl">
  
  <section class='main_container'>

    <div class="heading">
      <h2>Quote List</h2>
      <p>Search By:
        <span><input class='search_input' ng-model='search_quote' placeholder="quote"></span>
        <span><input class='search_input' ng-model='search_author' placeholder="author"></span>
      </p>
    </div>

    <div class='quote'>
      <p><span class='quotation'>"</span>Quotes aren't fun<span class='quotation'>"</span> 
      NO ONE EVER</p>
      <button class='deleteButton' ng-click='showInput()'>Add Quote</button>
    
      <div class='inputArea' ng-show='show'>
        <input class='inputQuote' type='text' ng-model='inputQuote' placeholder="Quote">
        <input type='text' ng-model="inputAuthor" placeholder="Author">
        <button ng-click='addQuote(inputQuote, inputAuthor)'>Submit</button>
      </div>
    </div>

    <div class='quote' ng-repeat='quote in quotes'>
      <span class='quotation'>"</span>{{ quote.text }}<span class='quotation'>"</span> 
      {{ quote.author | uppercase}}
      <button class='deleteButton' ng-click='deleteQuote(quotes.indexOf(quote))'>Delete</button>
    </div>



  </section>














<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="js/app.js"></script>
<script src="js/mainCtrl.js"></script>
<script src='js/mainService.js'></script>

</body>
</html>

